@font-face {
    font-family: "Momcake";
    src: url("font/MomcakeBold-WyonA.woff") format("woff");
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #F5F5F5;
}

header{
    height: 20%;
    background-color: #144552;
    font-family: "Momcake";
    font-size: 5rem;
    color: white;
    text-align: center;
}

.buttonCategory{
    text-align: center;
}

.choiceCat{
    margin: 2rem;
    border: none;
    background-color: #32936F;
    width: 5rem;
    padding: 0.6rem;
    font-family: "Momcake";
    font-size: 1.2rem;
}

#allShoes{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 2rem;
    column-gap: 5rem;
    row-gap: 1rem;
}

.shoes{
    margin: auto;
    width: 90%;
    border: 1px solid black;
}

.nameShoes{
    padding: 0;
    margin: 0;
    font-family: "Momcake";
    overflow: hidden; 
    text-overflow: ellipsis; 
    display: -webkit-box; 
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-size: 1.3rem;
    color: #144552;
}

.category{
    color: #9BC995;
    font-size: 0.8rem;
}

.descriptionShoes{
    
}

.imgShoes{
    width: 100%;
}

.add{
    font-size: 0.8rem;
}